* {
    padding: 0;
    margin: 0;
    color: beige;
    font-family: sans-serif;
}

a, u {
    text-decoration: none;
    color: white;
}

a:hover {
    background: linear-gradient(91deg, #244cfa, #8E52FB);
    color: transparent;
    background-clip: text;
}

body {
    background-color: black;
    background-image: url('photos\\background.jpg');
    overflow-x: hidden;
}

.Nav-Container {
    display: flex;
    background-color: transparent;
    height: 71.5px; 
}

nav {
    display: flex;
    background: linear-gradient(180deg, black, #000000, transparent);
    align-items: center;
    height: 99px; 
}

nav ul li {
    font-weight: bold;
}

.logo {
    font-weight: bold;
    color: aliceblue;
    font-size: 225.5%; 
    margin-left: 22px; 
}

nav ul li:hover {
    color: rgb(160, 160, 222);
}

nav ul {
    color: aliceblue;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 66px; 
    width: 100vw;
}

.imageDiv {
    position: relative;
    top: 11px; 
    left: 715px; 
}

.pic {
    height: 572px; 
    position: relative;
    left: 107.5px;
    top: 11px; 
    mix-blend-mode: lighten;
}

.aboutMe {
    width: 50vw; 
    position: relative;
    top: -478.5px; 
    left: 60.5px; 
}

.aboutMe h3 {
    color: #c364f3;
}

.intro {
    font-size: 38.5px;
    font-weight: 750;
}

.Name-colorGradient {
    background: linear-gradient(180deg, skyblue, magenta);
    color: transparent;
    background-clip: text;
}

.Name {
    text-align: justify;
    line-height: 2.2; 
    margin-top: 22px; 
    font-size: 16.5px;
}

.foot {
    padding-left: 55px; 
    padding-right: 55px;
    position: relative;
    top: 0px;
}

.footer-line {
    border: 1.1px solid grey; 
}

.footer-icon {
    height: 165px; 
    position: relative;
    top: 55px; 
}

.copyright {
    position: relative;
    color: gray;
    top: 71.5px; 
    padding: 22px; 
}

.foot-nav {
    position: relative;
    top: -187px; 
    left: 830.5px;
}

.foot .foot-nav ul li {
    color: gray;
    margin: 11px; 
}

.foot .foot-nav ul {
    list-style-type: none;
}

.foot-follow {
    position: relative;
    top: -352px; 
    left: 1287px; 
}

.foot .foot-follow img {
    height: 27.5px; 
    margin-right: 11px; 
}

footer {
    height: 110px; 
}