* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: aliceblue;
}

a, u {
    text-decoration: none;
    color: white;
}

a:hover {
    background: linear-gradient(91deg, #244cfa, #8E52FB);
    color: transparent;
    background-clip: text;
}

body {
    background-color: black;
    background-image: url('photos\\background.jpg');
    overflow-x: hidden;
}

.Nav-Container {
    display: flex;
    /* background-color: rgb(10%, 10%, 10%); */
    background-color: transparent;
    height: 71.5px; 
}

nav {
    display: flex;
    background: linear-gradient(180deg, black, #000000, transparent);
    align-items: center;
    height: 99px; 
}

nav ul li {
    font-weight: bold;
}

.logo {
    font-weight: bold;
    color: aliceblue;
    font-size: 225.5%;
    margin-left: 22px; 
}

nav ul li:hover {
    color: rgb(160, 160, 222);
}

nav ul {
    color: aliceblue;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 66px; 
    width: 100vw;
}

/* ///// */
.firstline {
    font-size: 27.5px; 
    position: relative;
    top: 132px; 
    left: 172.7px; 
}

.Hello {
    background: linear-gradient(270deg, skyblue, magenta);
    color: transparent;
    background-clip: text;
    font-size: 55px; 
}

.contact-container {
    position: relative;
    top: 121px; 
    left: 132px;
    background: transparent;
    padding: 22px; 
    border-radius: 8.8px; 
    width: 330px; 
    text-align: center;
}

h2 {
    margin-bottom: 16.5px; 
    position: relative;
    left: -58.3px; 
}

.FirstName {
    width: 80%;
    padding: 13.2px; 
    border-radius: 7.7px; 
    border: none;
    background-color: rgb(10%, 10%, 10%);
}

.LastName {
    width: 80%;
    padding: 13.2px; 
    border-radius: 7.7px; 
    position: relative;
    top: -45.1px; 
    left: 308px;
    border: none;
    background-color: rgb(10%, 10%, 10%);
}

.email {
    width: 80%;
    padding: 13.2px; 
    border-radius: 7.7px; 
    position: relative;
    top: -33px; 
    left: 0px;
    border: none;
    background-color: rgb(10%, 10%, 10%);
}

.Phone {
    width: 80%;
    padding: 13.2px;
    border-radius: 7.7px; 
    position: relative;
    top: -78.1px; 
    left: 308px; 
    border: none;
    background-color: rgb(10%, 10%, 10%);
}

.message {
    width: 175%;
    height: 71.5px;
    padding: 13.2px; 
    border-radius: 7.7px; 
    position: relative;
    top: -66px; 
    left: 16.5px;
    border: none;
    background-color: rgb(10%, 10%, 10%);
}

.button {
    width: 45%;
    padding: 16.5px; 
    border-radius: 7.7px; 
    position: relative;
    top: -58.3px; 
    left: -74.8px;
    border: none;
    position: relative;
    overflow: hidden;
    background-color: rgb(10%, 10%, 10%);
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, rgb(53, 20, 242), rgb(247, 84, 2));
    opacity: 0;
    transition: opacity 2s;
    z-index: 0;
}

.button p {
    font-size: 15.4px; 
    color: rgb(226, 220, 220);
    transition: color 0.5s;
    position: relative;
    z-index: 1;
}

.button:hover::before {
    opacity: 1;
}

.button:hover p {
    color: black;
}

.writtenContact {
    position: relative;
    top: -330px; 
    left: 1175.9px; 
}

.writtenContact h2 {
    color: gray;
}

.con-info {
    position: relative;
    left: -60.5px;
    top: 0px;
    margin-top: 22px; 
    color: gray;
}

.foot {
    padding-left: 55px;
    padding-right: 55px; 
    position: relative;
    top: 330px; 
}

.footer-line {
    border: 1.1px solid grey; 
}

.footer-icon {
    height: 165px; 
    position: relative;
    top: 55px;
}

.copyright {
    position: relative;
    color: gray;
    top: 71.5px; 
    padding: 22px; 
}

.foot-nav {
    position: relative;
    top: -187px; 
    left: 830.5px; 
}

.foot .foot-nav ul li {
    color: gray;
    margin: 11px; 
}

.foot .foot-nav ul {
    list-style-type: none;
}

.foot-follow {
    position: relative;
    top: -352px; 
    left: 1287px; 
}

.foot .foot-follow img {
    height: 27.5px; 
    margin-right: 11px; 
}

footer {
    height: 110px; 
}

.writtenContact img {
    height: 33px;
}

.fm {
    position: relative;
    top: 36.3px; 
    left: -55px;
}

.fm strong {
    color: gray;
}