*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

a, u {
    text-decoration: none;
    color: white;
  }

a:hover{
    background: linear-gradient(91deg, #244cfa, #8E52FB);
    color:transparent;
    background-clip: text;
}

body{
    background-color: black;
    background-image: url('photos\\background.jpg');
    overflow-x: hidden;
}

.Nav-Container{
    display: flex;
    /* background-color: rgb(10%, 10%, 10%); */
    background-color: transparent;
    height: 65px;
}

nav{
    display: flex;
    background: linear-gradient(180deg, black, #000000, transparent);
    align-items: center;
    height: 90px;
}

nav ul li{
    font-weight: bold;
}

.logo{
    font-weight: bold;
    color: aliceblue;
    font-size: 205%;
    margin-left: 20PX;
}

nav ul li:hover{
    color: rgb(160, 160, 222);
}

nav ul{
    color: aliceblue;
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 60px;
    width: 100vw;
}

.About-me{
    display: flex;
}

.info{
    position: relative;
    top: 100px;
    left: 180px;
    width: 40vw;
}

.hi{
    background: linear-gradient(150deg, #e630ff, #ff7300);
    color: transparent;
    background-clip: text;
    font-size: 25px;
}

.pic{
    height: 520px;
    position: relative;
    left: 40px;
    top: 10px;
    mix-blend-mode: lighten;
}

.Name{
    color: lightgrey;
    text-align: justify;
    line-height: 2.0;
}

.Name-bigger{
    color: lightgrey;
    text-align: justify;
    line-height: 2.0;
    font-size: 50px;
}

.Name-colorGradient{
    background: linear-gradient(91deg, #FD5659, #8E52FB);
    color:transparent;
    background-clip: text;
}

.EmailSize{
    height: 25px;
    position: relative;
    top: 5px;
    margin-right: 5px;
    color: #8E52FB;
}


.foot{
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
    top: 300px;
}
.footer-line{
    border: 1px solid grey;
}

.footer-icon{
    height: 150px;
    position: relative;
    top: 50px;
}

.copyright{
    position: relative;
    color: gray;
    top: 65px;
    padding: 20px;
}

.foot-nav{
    position: relative;
    top: -170px;
    left: 755px;
}

.foot .foot-nav ul li {
    color: gray;
    margin: 10px;
}

.foot .foot-nav ul{
    list-style-type: none;
}

.foot-follow{
    position: relative;
    top: -320px;
    left: 1170px;
}

.foot .foot-follow img {
    height: 25px; 
    margin-right:10px;
}

footer{
    height: 100px;
}